:root {
    --primary-color: #008AAA;
    --secondary-color: #3BBADB;
    --orange-color: #D1884F;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
}

.container {
    max-width: 80vw;
    margin: 0 auto;
}

nav ul {
    display: flex;
    justify-content: flex-end;
}

nav li {
    list-style: none;
    padding: 20px;
}

nav li a {
    text-decoration: none;
    color: black;
}

nav li a span {
    line-height: 1.5;
}

nav li i {
    margin-right: 10px;
}

nav li a.active {
    color: var(--orange-color);
}

nav li a:hover {
    color: var(--orange-color);
}

@media (max-width: 768px) {
    nav ul {
        justify-content: center;
    }

    nav li {
        text-align: center;
        font-size: 12px;
        padding: 20px 12px;
    }

    nav li i {
        display: inline-block;
    }
}

main .container {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

@media (max-width: 768px) {
    main .container {
        flex-direction: column-reverse;
        margin-top: 30px;
    }
}

.content-wrapper {
    width: 60%
}

@media (max-width: 768px) {
    .content-wrapper {
        width: 100%
    }
}

.content-wrapper span {
    color: var(--secondary-color);
    font-size: 25px;
}

.content-wrapper h1 {
    color: var(--primary-color);
    margin-block: 40px;
    line-height: 1.2;
    font-size: 60px;
}

.content-wrapper h1 span {
    color: var(--orange-color);
    font-size: 60px;
}

.content-wrapper p {
    margin-bottom: 50px;
}

@media (max-width: 768px) {
    .content-wrapper span {
        font-size: 20px;
    }

    .content-wrapper h1 {
        font-size: 35px;
    }

    .content-wrapper h1 span {
        font-size: 35px;
    }

    .content-wrapper p {
        margin-bottom: 40px;
        font-size: 14px;
    }
}

.button-wrapper {
    display: flex;
    gap: 14px;
    margin-bottom: 50px;
}

button {
    padding: 5px 15px;
    outline: none;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

.button-wrapper button:first-child {
    background-color: var(--primary-color);
    color: white;
    border: 1px solid var(--primary-color);
    box-shadow: 0px 4px 4px -1px #008AAA50;
}

.button-wrapper button:last-child {
    background-color: white;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    box-shadow: 0px 4px 1px -1px #008AAA10;
}

.image-wrapper {
    width: 30%;
    position: relative;
    height: 400px;
}

@media (max-width: 768px) {
    .image-wrapper {
        width: 100%;
        height: 400px;
        margin-bottom: 60px;
    }
}

.image-wrapper::before {
    content: '';
    position: absolute;
    height: 95%;
    width: 100%;
    bottom: 0;
    right: 15px;
    background-color: var(--secondary-color);
    border-bottom-left-radius: 50%;
    rotate: -2deg;
}

.image-wrapper img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    position: relative;
    border-bottom-left-radius: 50%;
}